<h1 class="mb-4"><%= @cocktail.name %></h1>

<div class="d-flex">

  <img height="500" class="mr-4" src="https://i1.wp.com/www.crispyfoodidea.com/wp-content/uploads/2020/05/Virgin-Mojito.jpg?fit=1080%2C1080&ssl=1)"/>

  <div class="container">
    <table class="table table-dark table-borderless pt-3 mt-3 mb-4">
      <thead>
        <tr>
          <th scope="col">Ingredient</th>
          <th scope="col">Dose</th>
        </tr>
      </thead>
      <tbody>
        <% @cocktail.doses.each do |d| %>
          <tr>
            <td><%= d.ingredient.name %></td>
            <td><%= d.description %></td>
            <td class="last-col"><%= link_to dose_path(d), method: :delete,
            data: { confirm: "Are you sure you want to delete #{d.ingredient.name}?"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= simple_form_for [@cocktail, @dose] do |d| %>
      <%= d.association :ingredient, collection: Ingredient.order(:name),
      prompt: "Pick an ingredient", include_blank: false %>
      <%= d.input :description %>
      <%= d.button :submit, "Create dose", class: "btn btn-success" %>
    <% end %>
    </div>
</div>

<div class="d-flex">

<ul class="list-group list-group-horizontal mt-4">
  <li class="list-group-item"><%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete,
  data: { confirm: "Are you sure you want to delete #{@cocktail.name}?"} %></li>

</ul>
</div>
